.solicitudDetailsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
  }
}